<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/index/icon_2.png">
    <title>新浪博客</title>
    <link href="css/index/foot.css" rel="stylesheet" type="text/css">
    <link href="css/index/cbody.css" rel="stylesheet" type="text/css">
    <link href="css/index/banner.css" rel="stylesheet" type="text/css">
    <link href="css/index/nav.css" rel="stylesheet" type="text/css">
    <link href="css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="nav">
        <a class="nav_logo"><img src="images/index/logo.png"></a>
        <div id="nav_ul">
            <ul>
                <li><a class="nav_a" href="###" target="_self">可达鸭</a></li>
                <li class="nav_line">|</li>
                <li><a class="nav_a"  href="###" target="_self">个人中心</a></li>
                <li class="nav_line">|</li>
                <li><a class="nav_a"  href="###" target="_self">发博文</a></li>
                <li class="nav_line">|</li>
                <li><a class="nav_a"  href="###" target="_self">消息</a></li>
            </ul>
        </div>
    </div>


    <div class="banner">
        <img id="banner_img" src="images/index/banner.png">
        <div id="banner_text">
            <a id="banner_text_a" href="#" target="_self" style="width: 200px;">可达鸭的博客</a>
            <div id="banner_content" >
                <ul>
                    <li><a href="###" target="_self">首页</a></li>
                    <li class="banner_line">|</li>
                    <li><a href="###" target="_self">博文目录</a></li>
                    <li class="banner_line">|</li>
                    <li><a href="###" target="_self">图片</a></li>
                    <li class="banner_line">|</li>
                    <li><a href="###" target="_self">关于我</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="cbody">
        <div class="cbody_left">
            <div id="gr">
                <div class="cbody_bar">
                    <span><b>个人资料</b><a class="cbody_bar_span_a" href="###" target="_self">[管理]</a></span>
                </div>
                <div id="gr_tou">
                    <img id="gr_touxiang" src="images/index/touxiang.png">
                </div>
                <span id="name">可达鸭</span>
                <div id="weibo">
                    <span><img id="weibo_icon" src="images/index/icon_1.png">微博</span>
                </div>
                <hr>
                <div id="list_ul">
                    <ul>
                        <li>博客等级：<span>7</span></li>
                        <li>博客积分：<span>83</span></li>
                        <li>博客访问：<span>843</span></li>
                        <li>关注人气：<span>3</span></li>
                        <li>获赠金币：<span>0</span></li>
                        <li>赠出金币：<span>0</span></li>
                        <li>荣誉勋章：<span>7</span></li>
                    </ul>
                </div>
            </div>

          
           
        </div>

        <div class="cbody_right">
            <div id="bw">
                <div>
                    <div id="cbody_bar_r">
                        <span><b>添加博文</b><a href="###" target="_self">[管理]</a></span>
                    </div>
                </div>


                <div class="bw_text">
                    <form action="http://localhost:4000/add" method="post" enctype="multipart/form-data">
                            <ul>
                                <li> 博文名称: <input type="text" name="title" /></li>

                                <li> 图片: <input type="file" name="pic" /></li>
                                <li> 分类: <input type="text" name="price" /></li>
                                <li> 我的评论: <input type="text" name="fee" /></li>

                               
                                <li>
                                    <br />
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>
                        </form>














                </div>
                <hr class="bw_hr">


               

                

                



                <br />
                <br />
                <br />
            </div>
        </div>
    </div>


    <div class="foot">
        <p><a href="###" target="_self">新浪BLOG意见反馈留言板</a><a href="###" target="_self">不良信息反馈</a>电话：4006900000 提示音后按1键（按当地市话标准计费）　欢迎批评指正</p>
        <ul>
            <li>新浪简介</li><li>|</li>
            <li>About Sina</li><li>|</li>
            <li>广告服务</li><li>|</li>
            <li>联系我们</li><li>|</li>
            <li>招聘信息</li><li>|</li>
            <li>网站律师</li><li>|</li>
            <li>SINA English</li><li>|</li>
            <li>会员注册</li><li>|</li>
            <li>产品答疑</li>
        </ul>
        <p>Copyright © 1996 - 2016 SINA Corporation, All Rights Reserved</p>
        <p>新浪公司 版权所有</p>
    </div>
</body>
</html>